body{
    color: darkcyan;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
header{
    background-color: black;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
}
footer{
    text-align: center;
}